.jumbotron {
    padding-top: 10rem;
    background-color: #e2edff;
}

#activity {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
    overflow: hidden;
}

#contact {
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 1280 720' width='1280' height='720' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='1280' height='720' fill='%23fff'%3E%3C/rect%3E%3Cg fill='%23d4dbe1'%3E%3Ccircle r='79' cx='1023' cy='390'%3E%3C/circle%3E%3Ccircle r='15' cx='944' cy='197'%3E%3C/circle%3E%3Ccircle r='72' cx='392' cy='107'%3E%3C/circle%3E%3Ccircle r='64' cx='95' cy='474'%3E%3C/circle%3E%3Ccircle r='70' cx='737' cy='570'%3E%3C/circle%3E%3Ccircle r='61' cx='642' cy='204'%3E%3C/circle%3E%3Ccircle r='45' cx='263' cy='220'%3E%3C/circle%3E%3Ccircle r='54' cx='415' cy='518'%3E%3C/circle%3E%3Ccircle r='17' cx='1198' cy='109'%3E%3C/circle%3E%3Ccircle r='30' cx='1154' cy='592'%3E%3C/circle%3E%3Ccircle r='17' cx='659' cy='405'%3E%3C/circle%3E%3Ccircle r='72' cx='206' cy='607'%3E%3C/circle%3E%3Ccircle r='17' cx='1185' cy='355'%3E%3C/circle%3E%3Ccircle r='32' cx='767' cy='106'%3E%3C/circle%3E%3Ccircle r='35' cx='471' cy='367'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

.gallery-img {
    width: 100%;
}

#gallery .row>* {
    padding: 0;
}

.lead {
    padding-bottom: 10rem;
}