.jumbotron {
    padding-top: 10rem;
    background-color: #e2edff;
}

#activity {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
    overflow: hidden;
}

#contact {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1071%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M1479.1222428690735 281.7632263665736L1327.696064201978 210.97626937580284 1337.8888427280804 356.73979330617476z' fill='rgba(174%2c 182%2c 191%2c 0.2)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M241.38904985558858 520.8216408845974L285.0468751166039 564.4794661456127 328.70470037761925 477.16381562358197z' fill='rgba(174%2c 182%2c 191%2c 0.2)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M784.7610466739873 86.52882891612333L932.8659584760621 120.87024506095315 896.2332573122683-6.883166094569589z' fill='rgba(174%2c 182%2c 191%2c 0.2)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M81.234%2c144.869C104.446%2c144.841%2c123.273%2c128.283%2c134.843%2c108.16C146.37%2c88.111%2c152.004%2c63.022%2c139.464%2c43.59C127.628%2c25.249%2c102.977%2c23.165%2c81.234%2c25.088C63.154%2c26.687%2c48.332%2c37.281%2c38.472%2c52.52C27.437%2c69.575%2c18.863%2c89.857%2c27.399%2c108.291C37.17%2c129.392%2c57.981%2c144.897%2c81.234%2c144.869' fill='rgba(174%2c 182%2c 191%2c 0.2)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M162.29027423035294 516.3553082697243L262.62781049042906 392.44877004842374 38.38373600905233 416.0177720096482z' fill='rgba(174%2c 182%2c 191%2c 0.2)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M772.5064646424611 491.12469562923724L677.7143577989165 477.8025338102472 664.3921959799264 572.5946406537918 759.1843028234711 585.9168024727818z' fill='rgba(174%2c 182%2c 191%2c 0.2)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1071'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.gallery-img {
    width: 100%;
}

#gallery .row>* {
    padding: 0;
}

.lead {
    padding-bottom: 10rem;
}